@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "bali";
  default: true;
  color-scheme: light;

  --color-primary: #FE7734;
  --color-primary-content: #ffffff;
  --color-secondary: #C8612D;
  --color-secondary-content: #ffffff;
  --color-accent: #D4A373;
  --color-accent-content: #ffffff;
  --color-neutral: #3D4451;
  --color-neutral-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f2f2f2;
  --color-base-300: #e5e5e5;
  --color-base-content: #1f2937;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}

@import '../../public/fonts/filament/filament/inter/index.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
